footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
<<<<<<< HEAD
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    line-height: 60px;
}
=======
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
footer.p {
    margin: 0;
}
>>>>>>> 2d493c475dabb30453c6edfbfb85966c434306e7
