footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00FF00;
    height: 60px;
    display: flex;
    align-items: centre;
    justify-content: center;
}
footer.p {
    margin: 0;
}